.env
.venv/
__pycache__/
*.pyc
node_modules/
build/
dist/
.terraform/
*.tfstate*
.terraform.lock.hcl
chroma_db/
infragenie.db
terraform_workspace/*/
.DS_Store
.vscode/
frontend/build/
frontend/.env.local
